.contact {
  text-align: center;
  margin: 24px;
  &__animation{
    width: 200px;
    display: flex;
    margin: auto;
  }
  &__btn {
    background: #fdb441 0% 0% no-repeat padding-box;
    border-radius: 28px;
    padding: 20px 45px;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 900;
     &:disabled {
      background-color: #b9b7b7;
     }
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;

    label {
      text-align: left;
      margin-bottom: 12px;
    }
    input, textarea {
    font-family: "Montserrat", sans-serif;
      margin-bottom: 16px;
      padding: 12px;
      border-radius: 8px;
      outline: none;
      border: 1px solid #b9b7b7;
    }
  }
}
