@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@300;400;800&display=swap");
@import "../../../style/tools/base-breakpoints.scss";


.decorationLine{
  background-color: #b5b5b5;
  color: #b5b5b5;
  height: 3px;
  margin-bottom: 5px;
  width: 100%;
}

.topnav {
  padding-top: 30px;
  padding-right: 20px;
  background-color: #fff;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #707070;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 17px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.topnav a:hover {
  background-color: rgb(255, 255, 255);
  color: #FDB441;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}


.swiper {
  width: 300px;
  height: 500px;
  @include for-phone-up {
    width: 500px;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 425px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.menu {
  margin-top: 24px;
  text-align: center;
  .menu__btn {
    background: #fdb441 0% 0% no-repeat padding-box;
    border-radius: 28px;
    padding: 20px 45px;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
}

.row {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
}

.side {
  flex: 45%;
  background-image: url("../../../assets/bg-pizza_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  flex: 45%;
  padding-left: 30px;
  height: 100vh;
  max-height: 100vh;
}

.content_logo {
  display: flex;
  flex-wrap: nowrap;
}

.sidebar {
  width: 30%;
  background: rgba(255, 255, 255, 0.718);
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

header {
  width: 100%;
  overflow: hidden;
  padding-bottom: 20px;
  padding-top: 80px;
  padding-right: 70px;
  text-align: right;
}

header nav {
  float: right;
}

header nav a {
  display: inline-block;
  color: #707070;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 17px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

header nav a:hover {
  color: #fdb441;
}

@media (max-width: 600px) {
  .side,
  .spaccing,
  header {
    display: none;
  }

  .row {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
  }

  .content {
    padding-left: 5px;
    height: 100vh;
    max-height: 100vh;
  }
}
