@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@300;400;800&display=swap");
@import "../../../style/tools/base-breakpoints.scss";

.swiper {
  width: 300px;
  height: 500px;
  @include for-phone-up {
    width: 500px;
  }
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 425px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
.menu {
  margin-top: 24px;
  text-align: center;
  .menu__btn {
    background: #fdb441 0% 0% no-repeat padding-box;
    border-radius: 28px;
    padding: 20px 45px;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
}
