<div class="row">
  <aside class="side">
    <div class="content_logo">
      <div class="sidebar">
        <div class="logo">
          <img src="assets/Grupo 1.svg" alt="" />
        </div>
      </div>
    </div>
  </aside>

  <div class="spaccing"></div>

  <section class="content">
    <header>
      <nav>
        <a href="#">Home</a>
        <a href="#">About us</a>
        <a href="#">Menu</a>
        <a href="#">Contact</a>
      </nav>
    </header>
    <div>
      <h1 class="title">
        PIZZA <br />
        TOWN
      </h1>
    </div>
    <div class="container_text_info">
      <p class="text_info">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum
        exercitationem quam dolorem molestias tempore ratione repellendus
        repellat
      </p>
    </div>
    <div class="container_btn">
      <div class="btn"><button class="">ORDER NOW</button></div>
    </div>

    <footer>
      <nav>
        <a href="#"><img src="../../assets/fb.svg" alt="" /></a>
        <a href="#"><img src="../../assets/ig.svg" alt="" /></a>
        <a href="#"><img src="../../assets/tw.svg" alt="" /></a>
        <a href="#"><img src="../../assets/yt.svg" alt="" /></a>
      </nav>
    </footer>
  </section>
</div>
