/* You can add global styles to this file, and also import other style files */
@import "./style/elements/text-style.scss";
@import "./style/variables/colors.scss";
@import "./style/variables/fonts.scss";


* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .modal__open {
    overflow: hidden;
  }
